<a href="https://colab.research.google.com/github/monikabuss/ISYS5002-2024-semester2/blob/main/05_3__Python_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Managing Student Data with Python

In this lesson, we'll explore different methods of managing student data for a course. We'll begin with a simple approach using lists and then demonstrate the power of dictionaries for more effective data management. Finally, we'll expand our data model to include not just student IDs and marks, but also names, showcasing the flexibility of dictionaries.


## Introduction to Python Lists and Dictionaries

- **Lists** are ordered collections of items that can be of mixed types. Lists are mutable, allowing modification after creation.
- **Dictionaries** are unordered collections of key-value pairs. They allow for fast retrieval, addition, and removal of items by key.


### Part 1: Storing Student Data with Lists

Initially, we might consider using lists to store student IDs and their corresponding marks. Let's see how that would look.

In [1]:
student_ids = ['S001', 'S002', 'S003', 'S004']
student_marks = [88, 92, 75, 63]

# Accessing the mark of the second student
print(f"Mark of student {student_ids[1]}: {student_marks[1]}")

Mark of student S002: 92

In [2]:
student_ids = ['S001', 'S002', 'S003', 'S004']
student_marks = [88, 92, 75, 63]

# Accessing the mark of the first student
print(f"Mark of student {student_ids[0]}: {student_marks[0]}")

Mark of student S001: 88


While lists allow us to store related data, maintaining two parallel lists can be cumbersome and error-prone, especially as data grows or changes.


## Transitioning to Dictionaries

Dictionaries provide a more robust and intuitive way to link student IDs directly to their marks, eliminating the need for parallel lists.


### Part 2: Improving with Dictionaries

Now, let's reimplement our data storage using a dictionary.

In [4]:

student_marks = {
    'S001': 88,
    'S002': 92,
    'S003': 75,
    'S004': 63
}

# Accessing the mark of student S002
print(f"Mark of student S002: {student_marks['S002']}")

Mark of student S002: 92

In [5]:
student_marks['S003']

75


### Part 3: Expanding the Data Model

Dictionaries aren't just limited to storing pairs of keys and values; they can store complex nested data. Let's expand our model to include student names.

In [15]:

student_info = {
    'S001': {'name': 'Alice', 'mark': 88},
    'S002': {'name': 'Bob', 'mark': 92},
    'S003': {'name': 'Charlie', 'mark': 75},
    'S004': {'name': 'Diana', 'mark': 63},
    'S457': {'name': 'Monika', 'mark': 100}
}

# Accessing the name and mark of student S002
student = student_info['S457']
print(f"Name: {student['name']}, Mark: {student['mark']}")

Name: Monika, Mark: 100

In [16]:
student_monika = student_info['S457']
student

{'name': 'Monika', 'mark': 100}

In [13]:
student_monika['name']

'Monika'

In [14]:
student_monika['mark']

100


## Conclusion

Through this lesson, we've seen how to evolve from using lists to dictionaries for managing student data, demonstrating the increased efficiency and flexibility dictionaries provide. We also explored nested dictionaries for handling more complex data structures.

### Exercises

1. Add a new student to the `student_info` dictionary.
2. Update the mark for a student.
3. Remove a student from the `student_info` dictionary.
4. Iterate over the `student_info` dictionary to print out each student's name and mark.

In [ ]:
# Add a new student to the student_info dictionary.

In [17]:
# Update the mark for a student.
student_info['S457']['mark'] = 89

In [18]:
student_monika['mark']

89

In [ ]:
# Remove a student from the student_info dictionary
# pop Method: The pop method removes the specified key from the dictionary and returns the corresponding value.

In [20]:
student_info.popitem()

('S457', {'name': 'Monika', 'mark': 89})

In [21]:
student_info

{'S001': {'name': 'Alice', 'mark': 88},
 'S002': {'name': 'Bob', 'mark': 92},
 'S003': {'name': 'Charlie', 'mark': 75},
 'S004': {'name': 'Diana', 'mark': 63}}

In [ ]:
# del Statement: The del statement deletes a key-value pair from the dictionary.

In [22]:
del student_info["S002"]

In [24]:
student_info

{'S001': {'name': 'Alice', 'mark': 88},
 'S003': {'name': 'Charlie', 'mark': 75},
 'S004': {'name': 'Diana', 'mark': 63}}

In [25]:
# Iterate over the student_info dictionary to print out each student's name and mark.
for name, mark in student_info.items():
  print("Name ", name)
  print("mark ", mark)

Name  S001
mark  {'name': 'Alice', 'mark': 88}
Name  S003
mark  {'name': 'Charlie', 'mark': 75}
Name  S004
mark  {'name': 'Diana', 'mark': 63}