<a href="https://colab.research.google.com/github/monikabuss/ISYS5002-2024-semester2/blob/main/Code_Development_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Are there any missing values in the assignment? Check for missing values, see lab 10

##Assignemnt 2
The process of problemsolving can be broken down into six steps:
1.	State the problem clearly (In Business Report)
2.	Describe the input and output (In Business Report)
3.	Work a simple example by hand
4.	Develop an algorithm/pseudocode
5.	Convert to Python
6.	Test solution with a variety of data

##3. Work a simple example by hand
To solve the problem, one would have to look into different factors such as democraphic factor (gender, age), clinical factors (cholesterol, glucose levels, blood pressure) and lifestyle factors (smoking, alcohol consumption, physical activity). Based on these different factors, one must look into different combinations of these factors, and that could look like this:

1. If you smoke (lifestyle) and you are in your twenties (demographic), then your patters would be different, than if your life looked like this:

2. If you are in your sixties (demographic) and you have high blood pressure (clinical), then your cardiovascular health is different from a eprson with the following combination:

3. If you are a boy (demographic), you smoke (lifestyle) and you have low bloodpressure), then your cardiovascular health will look different from:

4. If you are a girl in your mid-thirtees (demographics), you donÂ´t drink alcohol (lifestyle) and you have low colesterol (clinical).

##4. Develop an algorithm/pseudocode

#Input:

Get the age, the gender, the height, the weight, bloodpressure, cholesterol level, glucose level, smoke status, alcohol consumption status, activity status and cardiovascular desease presence.

-

#Process:

Get the age of the individual (in days)

Get the gender of the individual (1: female, 2: male)

Get the height of the individual (in cm)

Get the weight of th individual (in kg)

Does the individual have Systolic blood pressure (ap_hi) or Diastolic bloodpressure (ap_lo)?

Get the colesterol level (1: normal, 2: above normal, 3: well above normal)

Get the glucose level (1: normal, 2: above normal, 3: well above normal)

Get smoke status (0: non-smoker, 1: smoker)

Get alcohol consumption status (0: non-drinker, 1: drinker)

Get physical activity status (0: inactive, 1: active)

Get cardiovascular disease presence (0: no disease, 1: disease)

-

#Output:

Analyse different combinations of factors influence cardiovascular disease outcomes.

Select and analyse combinations from three groups: Demographic (age, gender), Clinical (cholesterol, glucose and blood pressure) and lifestyle (smoking, activity status and alcohol consumption).

##5. Convert to Python

In [24]:
#Import the necesaary libraries
#Import Python standard library?
import sqlite3 as sql
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import ipywidgets as widgets
import csv

In [4]:
conn = sql.connect('cardiohealth.db')

In [5]:
cur = conn.cursor()

In [13]:
#inspect what is given
sql='''
SELECT name FROM sqlite_master WHERE type='table';
'''
cur.execute(sql)
cur.fetchall()

[('medical_examination',), ('users',)]

In [14]:
# inspecting the details of the table
sql='''
PRAGMA table_info('medical_examination');
'''
cur.execute(sql)
cur.fetchall()

[(0, 'id', 'INTEGER', 0, None, 0),
 (1, 'age', 'INTEGER', 0, None, 0),
 (2, 'gender', 'INTEGER', 0, None, 0),
 (3, 'height', 'INTEGER', 0, None, 0),
 (4, 'weight', 'REAL', 0, None, 0),
 (5, 'ap_hi', 'INTEGER', 0, None, 0),
 (6, 'ap_lo', 'INTEGER', 0, None, 0),
 (7, 'cholesterol', 'INTEGER', 0, None, 0),
 (8, 'gluc', 'INTEGER', 0, None, 0),
 (9, 'smoke', 'INTEGER', 0, None, 0),
 (10, 'alco', 'INTEGER', 0, None, 0),
 (11, 'active', 'INTEGER', 0, None, 0),
 (12, 'cardio', 'INTEGER', 0, None, 0)]

In [15]:
# inspecting the details of the table
sql='''
PRAGMA table_info('users');
'''
cur.execute(sql)
cur.fetchall()

[(0, 'userid', 'INT', 0, None, 1),
 (1, 'fname', 'TEXT', 0, None, 0),
 (2, 'lname', 'TEXT', 0, None, 0),
 (3, 'superhero', 'TEXT', 0, None, 0),
 (4, 'gender', 'TEXT', 0, None, 0)]

In [16]:

sql='''
SELECT * from medical_examination;
'''
# Load the data into a DataFrame
med_ex_df = pd.read_sql_query(sql, conn)

In [17]:
med_ex_df.head(10)

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
5,8,21914,1,151,67.0,120,80,2,2,0,0,0,0
6,9,22113,1,157,93.0,130,80,3,1,0,0,1,0
7,12,22584,2,178,95.0,130,90,3,3,0,0,1,1
8,13,17668,1,158,71.0,110,70,1,1,0,0,1,0
9,14,19834,1,164,68.0,110,60,1,1,0,0,0,0

In [18]:
med_ex_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           70000 non-null  int64
 1   age          70000 non-null  int64
 2   gender       70000 non-null  int64
 3   height       70000 non-null  int64
 4   weight       70000 non-null  float64
 5   ap_hi        70000 non-null  int64
 6   ap_lo        70000 non-null  int64
 7   cholesterol  70000 non-null  int64
 8   gluc         70000 non-null  int64
 9   smoke        70000 non-null  int64
 10  alco         70000 non-null  int64
 11  active       70000 non-null  int64
 12  cardio       70000 non-null  int64
dtypes: float64(1), int64(12)
memory usage: 6.9 MB

In [19]:
sql='''
SELECT * from users;
'''
# Load the data into a DataFrame
users_df = pd.read_sql_query(sql, conn)

In [20]:
users_df.head(10)

Empty DataFrame
Columns: [userid, fname, lname, superhero, gender]
Index: []

In [21]:
users_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userid     0 non-null      object
 1   fname      0 non-null      object
 2   lname      0 non-null      object
 3   superhero  0 non-null      object
 4   gender     0 non-null      object
dtypes: object(5)
memory usage: 124.0+ bytes

We examined both the tbables (?), and the table 'users' is not relevant and empty.

In [22]:
#describing the table
med_ex_df.describe()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,49972.419900,19468.865814,1.349843,164.359229,74.205690,128.817286,96.630414,1.366871,1.226457,0.088129,0.053771,0.803729,0.499700
std,28851.302323,2467.251667,0.477253,8.210126,14.395757,154.011419,188.472530,0.680250,0.572270,0.283484,0.225568,0.397179,0.500003
min,0.000000,10798.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,25006.750000,17664.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,50001.500000,19703.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,74889.250000,21327.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,99999.000000,23713.000000,3.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

Pre-Processing

In [26]:
#check for duplicates but here not all seen
med_ex_df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
69995    False
69996    False
69997    False
69998    False
69999    False
Length: 70000, dtype: bool

In [30]:
duplicates = med_ex_df[med_ex_df.duplicated()]
duplicates

#no duplicates could be found, so nothing to drop
#IN ASSIGNMENT: find duplicates and drop them if yes, this only filters and does not remove
#display(med_ex_df.drop_duplicates)

<bound method DataFrame.drop_duplicates of           id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  gluc  \
0          0  18393       2     168    62.0    110     80            1     1
1          1  20228       1     156    85.0    140     90            3     1
2          2  18857       1     165    64.0    130     70            3     1
3          3  17623       2     169    82.0    150    100            1     1
4          4  17474       1     156    56.0    100     60            1     1
...      ...    ...     ...     ...     ...    ...    ...          ...   ...
69995  99993  19240       2     168    76.0    120     80            1     1
69996  99995  22601       1     158   126.0    140     90            2     2
69997  99996  19066       2     183   105.0    180     90            3     1
69998  99998  22431       1     163    72.0    135     80            1     2
69999  99999  20540       1     170    72.0    120     80            2     1

       smoke  alco  active  cardio
0          0     0       1       0
1          0     0       1       1
2          0     0       0       1
3          0     0       1       1
4          0     0       0       0
...      ...   ...     ...     ...
69995      1     0       1       0
69996      0     0       1       1
69997      0     1       0       1
69998      0     0       0       1
69999      0     0       1       0

[70000 rows x 13 columns]>

In [31]:
#check for missing values
med_ex_df.isnull()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,False,False,False,False,False,False,False,False,False,False,False,False,False
69996,False,False,False,False,False,False,False,False,False,False,False,False,False
69997,False,False,False,False,False,False,False,False,False,False,False,False,False
69998,False,False,False,False,False,False,False,False,False,False,False,False,False
69999,False,False,False,False,False,False,False,False,False,False,False,False,False

In [32]:
med_ex_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           70000 non-null  int64
 1   age          70000 non-null  int64
 2   gender       70000 non-null  int64
 3   height       70000 non-null  int64
 4   weight       70000 non-null  float64
 5   ap_hi        70000 non-null  int64
 6   ap_lo        70000 non-null  int64
 7   cholesterol  70000 non-null  int64
 8   gluc         70000 non-null  int64
 9   smoke        70000 non-null  int64
 10  alco         70000 non-null  int64
 11  active       70000 non-null  int64
 12  cardio       70000 non-null  int64
dtypes: float64(1), int64(12)
memory usage: 6.9 MB

four analysis:
1) Johanne: Demographic and Lifestyle
2) Monika: Demographic and Clinical
3) Iman: Demographic, Clinical and Lifestyle

##6. Test solution with a variety of data

## Reflection
How did the use of Gen AI affect (positive and negative) your work on this assignemnt?